@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sigmar&display=swap');

#center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

}
